body {
    color:#1B1D26;
    padding-top:100px;
    background-color: #F1F2D8;
}

.container {
    background-color: #BFBD9F;
    border-radius: 20px;
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.43);
    max-width: 1024px;
    margin: 0 auto;
    padding:10px 20px;
    width: 90%;
}

#title {
    text-align: center;
}

#title h1 {
    margin: 10px 0 0 0;
    font-family: 'Acme', sans-serif;
    font-size:60px;
}

#title h2 {
    font-weight: 300;
    font-family: 'Pacifico', cursive;
    margin: 0;
}

#img-div {
    margin: 10px auto;
    width:90%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#img-div img {
    display: block;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}

#tribute-timeline {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    margin: 0 10px;
}

#tribute-quotes {
    font-family: 'Pacifico', cursive;
    max-width: 70%;
    margin: 0 auto;
    font-size: 20px;
}

#tribute-link-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto;
}

#footer {
    text-align: center;
    margin-top: 30px;
    font-family: 'Acme', sans-serif;
}

#footer a {
    text-decoration: none;
    color: #425955;
}
#footer a:hover {
    color: #1B1D26;
}

@media (min-width:600px) {
    #img-div img {
        max-width: 70%;
    }
}


/*
font-family: 'Pacifico', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
